.nav{
  height: 100px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

li{
  list-style: none;
}

.btns{
  width: 80px;
  height: 35px;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}